:root {
  --green: #096133;
  --blue: #4e3e8f;
  --blue-hover: #5a499e;
  --black: #111111;
  --dark-hover: #5f5f5f;
  --border: #dbe0df;
  --white: #ffffff;
  --red: #d14836;
  --green: #42ab9e;
  --sm: 12px;
  --md: 14px;
  --nor: 16px;
  --lg: 24px;
  --xd: 32px;
  --exd: 42px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid var(--border);
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar .container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

/* Navbar Logo */
.navbar .container .logo {
  width: 20%;
}

/* Navbar List*/
.navbar .container .nav-list {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

/* Navigations */
.navbar .container .nav-list ul.navlink {
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.navbar .container .nav-list ul.navlink .nav-item a,
.navbar .container .nav-list ul.navlink .nav-item.link-2 {
  padding: 6px;
  font-size: var(--md);
  margin-left: 1rem;
}

.link-1 {
  display: block;
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.link-1::after {
  content: "";
  background: var(--blue-hover);
  width: calc(100% + 10px);
  height: 0;
  position: absolute;
  bottom: 0px;
  left: -5px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: -1;
}

.link-1.active {
  color: var(--white);
}

.link-1.active::after {
  height: calc(100%);
}

.link-1:hover::after {
  height: calc(100%);
}

.link-1:hover {
  color: var(--white);
}

.nav-item.dropdown {
  display: none;
  border: 1px solid var(--border);
  color: var(--blue);
}

.navbar
  .container
  .nav-list
  ul.navlink
  .nav-item.link-2.dropdown
  .dropdown-content
  a,
.navbar
  .container
  .nav-list
  ul.navlink
  .nav-item.link-2.dropdown
  .dropdown-content
  span.no-link {
  margin-left: 0;
  padding: 14px 10px;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
}

.navbar
  .container
  .nav-list
  ul.navlink
  .nav-item.link-2.dropdown
  .dropdown-content
  span.no-link {
  padding: 5px 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 5%;
  top: 75%;
  background-color: var(--white);
  min-width: 200px;
  padding: 0 10px;
  border: 1px solid var(--border);
  z-index: 1;
}

.navbar
  .container
  .nav-list
  ul.navlink
  .nav-item.link-2.dropdown
  .dropdown-content
  a:hover {
  background-color: var(--blue-hover);
  color: var(--white);
}
.navbar
  .container
  .nav-list
  ul.navlink
  .nav-item.link-2.dropdown
  .dropdown-content
  a.active {
  border: 1px solid var(--border);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Exhibit Session */

section {
  margin-bottom: 2rem;
}

section#exhibit {
  position: relative;
  background: url("../asset/night\ worker.jpg") no-repeat;
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  top: 2rem;
}

section#exhibit.about-page {
  position: relative;
  background: url("../asset/about_bg.jpg") no-repeat;
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  top: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

section#exhibit .container {
  z-index: 10;
  display: flex;
  height: 100%;
  align-items: center;
}

.content {
  width: 60%;
  color: var(--white);
}

.lead {
  font-size: var(--exd);
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1;
}

.sub-lead {
  font-size: var(--lg);
}

/* Project Slides */

section#main {
  margin-bottom: 2rem;
}

.section-heading {
  padding: 3rem 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-heading .heading-text {
  margin: 0 5px 0 0;
  padding: 0;
  color: var(--blue-hover);
  font-size: var(--lg);
}

.section-heading span {
  color: var(--dark-hover);
  font-size: var(--nor);
}

.mission .section-heading {
  padding: 0;
}

.mission blockquote {
  margin: 2rem auto;
}

/* Value List */
.value-list {
  display: flex;
}

.value {
  border: 1px solid var(--border);
  margin: 5px;
  padding: 2rem 1rem;
}

.value .value-detail .value-title {
  font-size: var(--lg);
  color: var(--blue);
  line-height: 1;
}

.project-box {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.project-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 550px;
  width: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.project-list::-webkit-scrollbar {
  display: none;
}

.project-list .project {
  position: relative;
  flex: 0 0 auto;
  margin-right: 15px;
  height: 550px;
  width: 400px;
}

.project-list .project .project-action {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
}

.project .project-action span {
  font-size: var(--sm);
  margin-right: 3px;
}

.project-list .project .project-action.add-to-like i {
  color: var(--blue);
}

.project-list .project .project-img {
  border: 1px solid var(--border);
  background-color: var(--border);
  height: 450px;
  width: 100%;
  overflow: hidden;
}

.project .project-img img {
  height: 450px;
  width: 100%;
}

.project .project-detail {
  padding-top: 10px;
}

.project .project-detail a {
  display: block;
}

.project .project-detail a.project-location {
  font-size: var(--md);
  font-weight: lighter;
  color: var(--dark-hover);
  padding-top: 5px;
  text-transform: capitalize;
}

.project .project-detail a.project-info {
  font-size: var(--nor);
  text-transform: capitalize;
  margin: 10px 0;
}

/* Statistics */

.stat-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.stat {
  width: 24%;
  padding: 2rem 0.5rem;
  margin: 0 0 0 0;
  border: 1px solid var(--border);
  margin-top: 2rem;
  height: 150px;
}

.stat span {
  font-size: var(--exd);
}

.stat p {
  margin-top: 5px;
  /* position: absolute;
  bottom: 0; */
}

.stat:last-child {
  background: var(--blue);
  color: var(--white);
  border-color: var(--blue);
}

.stat:not(:last-child) span {
  color: var(--blue);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.client {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.client img {
  width: 150px;
  height: 150px;
}

/* contact Box */

section.service-action {
  padding-top: 2rem;
}

.action-box {
  background: url("../asset/workers.jpg") no-repeat;
  background-color: var(--blue);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.action-box span {
  background: rgba(0, 0, 0, 0.6);
  color: var(--white);
  padding: 4rem;
}

.action-box .btn {
  padding: 4rem;
}

.action-box .service-btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 12px 14px;
}

/* Footer */

footer {
  padding: 2rem 0;
  margin-top: 4rem;
}

.footer-detail .footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-detail .footer-list li {
  margin: 10px;
}

.footer-list li a:hover {
  color: var(--blue-hover);
}

section.page-breadcrumb {
  border-bottom: 1px solid var(--border);
  position: relative;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.breadcrumb_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.breadcrumb_list .breadcrumb_item {
  margin-right: 10px;
}

a.breadcrumb_link:hover {
  color: var(--blue-hover);
}

.breadcrumb_list .breadcrumb_item .breadcrumb_link {
  padding: 10px 8px;
}

.breadcrumb_item .breadcrumb_link .link_icon {
  color: var(--border);
}

/* Service Header */
section#service-header {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.service-keynote {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.service-keynote h3 {
  color: var(--blue);
  font-size: var(--xd);
}

section.service-section {
  margin-bottom: 4rem;
}

.service-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 450px;
}

.service-box.reverse {
  flex-direction: row-reverse;
}

.service-detail {
  padding: 2rem 0;
}

.service-detail .service-title {
  color: var(--blue);
  font-size: var(--xd);
  margin-bottom: 2rem;
  line-height: 1;
}

.service-box.service-box.reverse .service-detail {
  text-align: right;
}

.service-image {
  overflow: hidden;
  height: 100%;
  width: 175%;
}

.service-image img {
  height: 100%;
  width: 49%;
}

/* PROJECT PAGE */
.project-section-list {
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-section-item {
  /* border: 1px solid var(--border); */
  position: relative;
  width: 48.5%;
  margin-bottom: 4rem;
  overflow: hidden;
}

.project-item-img {
  height: 350px;
  width: 100%;
}
.project-item-img img {
  height: 350px;
  width: 100%;
}

.project-item-detail {
  padding: 2rem 0;
}

.project-item-detail .project-item-title {
  margin-top: 1rem;
  font-size: var(--xd);
  margin-bottom: 2rem;
  line-height: 1;
}

.project-list-action {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
}

.project-list-action span {
  font-size: var(--md);
  margin-right: 3px;
}

.project-list .project .project-action.add-to-like i {
  color: var(--blue);
}

/* END OF PROJECT */

/* ABOUT PAGE */
.content.about-content {
  margin: 0 auto;
  text-align: center;
}

.about-gallery {
  /* border: 1px solid red; */
  margin: 4rem 0;
}

.about-gallery .about-pic {
  width: 70%;
  margin: 0 auto;
}

.about-pic img {
  width: 100%;
}

.about-testimonals .section-heading {
  padding: 0;
  margin: 0;
}

.testimonal-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 300px;
  margin: 3rem 0;
  width: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.testimonal-list::-webkit-scrollbar {
  display: none;
}

.testimonal-list .testimonal {
  position: relative;
  border: 1px solid var(--border);
  flex: 0 0 auto;
  margin-right: 15px;
  height: 300px;
  padding: 1rem;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.testimonal-list .testimonal:last-child {
  margin-right: 0px;
}

.testimonal .testimonal-text {
  margin-bottom: 2rem;
}

.testimonal .testimonal-details .name {
  font-weight: bold;
  margin: 0;
  color: var(--blue);
}

.testimonal .testimonal-details .position {
  color: var(--dark-hover);
  font-size: var(--sm);
}

/* END OF ABOUT PAGE */

blockquote {
  position: relative;
  width: 600px;
  max-width: 90%;
  margin: 4rem auto;
  font-size: var(--lg);
  color: var(--blue);
  line-height: 150%;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: 15px;
  left: -35px;
  font-size: 60px;
  font-style: normal;
}

/* CONTACT PAGE */
.fa-map-marked:before {
  content: "\f59f";
}

section.contact {
  position: relative;
  margin-top: 6rem;
}

.contact-box {
  display: flex;
}

.contact-box i {
  font-size: var(--lg);
  color: var(--blue);
  margin-right: 5px;
}

.contact-address {
  border: 1px solid var(--border);
  padding: 2rem 1rem;
  height: 400px;
  width: 60%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.address-details {
  color: var(--blue);
  font-size: var(--lg);
}

.address-location {
  margin: 10px 0 20px 0;
}

.contact-email {
  margin-bottom: 20px;
}

.social-box {
  width: 38%;
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.social-box p {
  font-size: var(--lg);
  color: var(--blue);
}

.contact-social {
  border: 1px solid var(--border);
  padding: 10px 0;
  margin-bottom: 10px;
}

/* END CONTACT PAGE */

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .content {
    width: 70%;
  }
  .lead {
    font-size: var(--xd);
  }

  .sub-lead {
    font-size: var(--lg);
  }
  .hide-lg {
    display: none;
  }

  .service-image img {
    height: 100%;
    width: 100%;
  }

  .testimonal-list .testimonal {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .show-lg {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  section#exhibit {
    height: 60vh;
  }
  .content {
    width: 100%;
  }

  .lead {
    font-size: var(--lg);
  }

  .sub-lead {
    font-size: var(--nor);
  }

  .value-list {
    flex-direction: column;
  }
  .value {
    margin: 10px 0;
  }

  .stat {
    width: 45%;
    padding: 1rem;
  }

  section#service-header {
    padding-bottom: 0rem;
    padding-top: 2rem;
  }

  .service-keynote {
    width: 80%;
  }

  .service-image {
    overflow: hidden;
    height: 450px;
    width: 100%;
  }

  .service-box {
    display: flex;
    flex-direction: column;
    height: 600px;
  }

  .service-box.reverse {
    flex-direction: column;
  }

  .service-box.service-box.reverse .service-detail {
    text-align: left;
  }

  .project-section-list {
    display: block;
  }

  .project-section-item {
    width: 100%;
  }

  .about-gallery {
    height: 300px;
  }

  .about-gallery .about-pic {
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .about-pic img {
    height: 100%;
  }

  .contact-box {
    display: block;
  }

  .social-box,
  .contact-address {
    width: 100%;
  }

  .contact-address {
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .box-heading {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .hide-sm {
    display: none;
  }

  .lead {
    font-size: var(--lg);
  }

  .sub-lead {
    font-size: var(--nor);
  }

  .dropdown.show-sm {
    display: block;
  }

  .section-heading {
    align-items: flex-start;
    flex-direction: column;
  }

  .project-list {
    display: flex;
    height: 500px;
    width: 100%;
  }

  .project-list .project {
    height: 500px;
    width: 250px;
  }

  .project-list .project .project-img {
    height: 400px;
  }

  .project .project-img img {
    height: 400px;
  }

  .project .project-detail {
    padding-top: 5px;
  }

  .project .project-detail a.project-info {
    margin: 5px 0;
  }

  .stat {
    display: block;
    width: 100%;
    padding: 1rem 1rem;
  }

  .action-box {
    flex-direction: column;
  }
  .action-box span {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }

  .action-box .btn {
    height: 1rem;
  }

  .footer-detail .footer-list {
    display: block;
    text-align: center;
  }

  .service-keynote {
    width: 100%;
  }

  .testimonal-list .testimonal {
    width: 98%;
  }
}
